*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  max-width: 100rem;
  margin: 0 auto;
}

.books {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.book__img {
  width: 100%;
  height: auto;
}

.book__title {
  font-size: 2rem;
}

.search {
  margin-bottom: 1rem;
}

.search__form {
  display: flex;
  height: 4rem;
}

.search__input {
  padding: 0.5rem 1rem;
  flex-grow: 1;
  font-size: 2rem;
}

.search__button {
  width: 10rem;
  font-size: 2rem;
}

.book-page {
  font-size: 1.6rem;
  display: grid;
  grid-row-gap: 4rem;
  grid-template-rows: 100vh;
}

.book-page__title {
  font-size: 4rem;
  display: block;
  margin-bottom: 2rem;
}

.book-page__subtitle {
  font-size: 2rem;
  display: block;
}

.book-page__header {
  margin-bottom: 2rem;
}

.book-page__landing {
  display: flex;
  justify-content: center;
}

.book-page__img {
  width: auto;
  height: 100vh;
}
