*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

.app {
  max-width: 100rem;
  margin: 0 auto;
}

.books {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.book__img {
  width: 100%;
  height: auto;
}

.book__title {
  font-size: 2rem;
}

.search {
  display: flex;
}

.search__form {
  flex: 1;
}

.search__input {
  width: 100%;
}
